{% extends "admin_layout/index.html.twig" %}

{% block admin_template %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Empresas</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Visualize e busque por empresas</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Lista de Empresas
        </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <th>ID</th>
                    <th>CNPJ Básico</th>
                    <th>Razão Social</th>
                    <th>Natureza jurídica</th>
                    <th>Qualificação</th>
                    <th>Capital Social</th>
                    <th>Porte</th>
                    <th>Ente Federativo Responsável</th>
                </thead>
                <tbody>
                    {% for linha in empresas %}
                        <tr>
                            <td>{{linha.id}}</td>
                            <td>{{linha.cnpjBasico}}</td>
                            <td>{{linha.razaoSocial}}</td>
                            <td>{{linha.naturezaJuridica}}</td>
                            <td>{{linha.qualificacao}}</td>
                            <td>{{linha.capitalSocial}}</td>
                            <td>{{linha.porte}}</td>
                            <td>{{linha.enteFederativoResponsavel}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}